:root {
    --primary-color: #ec407a ;
    --primary-light: #ff77a9 ;
    --primary-dark: #b4004e;
    --yekan: BYekan,'BYekan',tahoma;
}
.primary-color {
    color: var(--primary-color);
}
.bg-primary-color {
    background-color: var(--primary-color);
}
.primary-light {
    color: var(--primary-light);
}
.bg-primary-light {
    background-color: var(--primary-light);
}
.primary-dark {
    color: var(--primary-dark);
}
.bg-primary-dark {
    background-color: var(--primary-dark);
}
.secondary-text-color {
    color: var(--secondary-text-color);
}
.font-yekan {
    font-family: var(--yekan);
}
.rtl, nav, .container-fluid .row {
    direction: rtl;
}
a, p{
    text-decoration: none;
    color: white;
    font-size: .9em;
    font-family: var(--yekan);
}
a:hover {
    color: var(--primary-light);
}
.header-icons .badge {
    position: relative;
    bottom: .5rem;
    left: .5rem;
}
.navbar .collapse {
    padding-right: 10%;
}
.navbar-nav .nav-item.nav-link:hover {
    color: var(--primary-dark);
}
.nav-item.nav-link.active {
    color: var(--primary-dark)!important;
    font-size: 1em;
}
.row .product img {
width: 100%;
}
.col .fa-linkedin-in:hover {
color: #0e76a8 ;
}
.col .fa-facebook-f:hover {
    color:#4064AC ;
}
.col .fa-instagram:hover {
    color:#F4632B ;
}
.row .product:hover {
        box-shadow: 1px 1px 20px #ff77a9;
        shadow-lg p-3 mb-5 bg-white rounded
}